.navbar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0 auto;
  .logo {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    h4 {
      padding: 0;
      margin: 0;
    }
  }
  a:visited {
    color: black;
  }

  button {
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    transition: 500ms ease;
    h3 {
      margin: 0;
      padding: 0 20px;
    }
  }
  button:hover {
    color: black;
    background-color: white;
  }
}
