.navbar {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0 auto;
  .logo {
    display: flex;
    align-items: center;
  }

  a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    h4 {
      padding: 0;
      margin: 0;
    }
  }
}
