.not-connected {
  padding-top: 30px;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  div {
    text-align: center;
    display: grid;
    align-items: center;

    h1, h3 {
      margin: 0;
    }
  }

  button {
    width: 20%;
    margin: 0 auto;
  }
}
