.not-connected {
  padding-top: 30px;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  div {
    text-align: center;
    display: grid;
    align-items: center;

    h1, h3 {
      margin: 0;
    }

    button {
      height: 50px;
      width: 230px;
      color: white;
      border-radius: 5px;
      border: 1px solid black;
      background-color: black;
      position: relative;
      margin: 0 auto;
      transition: 500ms ease;
      h3 {
        margin: 0;
        padding: 0 20px;
      }
    }
    button:hover {
      color: black;
      background-color: white;
    }
  }
}
