.govern {
  padding-top: 30px;
  width: 100vw;
  margin: 0 auto;

  div{
    text-align: center;

    .text {
      h1, h3 {
        margin: 0;
      }

      .inline {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100px;
        grid-gap: 5px;
        margin: 0 auto;
      }
    }

    .register {
      border: 1px solid black;
      background: white;
      border-radius: 10px;
      margin: 20px auto;
      padding: 15px 20px;
      width: 47.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 20px;
      }
    }

    .lp {
      border: 2px solid black;
      background: white;
      border-radius: 10px;
      margin: 20px auto;
      margin-bottom: 40px;
      width: 50%;

      .header {
        display: flex;
        border-bottom: 1px solid black;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        .right {
          display: flex;
          p {
            margin: auto 10px;
          }
        }
      }

      .row {
        display: flex;
        border-top: 1px solid lightgrey;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        .right {
          width: 20%;
          display: flex;
          justify-content: space-between;

          p {
            margin: auto 10px;
          }
        }
      }
    }
  }

}
